.footer{
    background-color: #032541;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer img{
    width: 200px;
}

.footer .block{
    display: flex;
    flex-direction: column;
}