.footer{
    background-color: var(--navbar-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer img{
    width: 100px;
    margin-bottom: 10px;
}

.footer .block{
    display: flex;
    flex-direction: column;
}

.footer button{
    background-color: white;
    color: #01b3e3;
}

.footer .block.logo{
    align-items: flex-end;
}