@import "variables.css";
@import "Navbar";
@import "Footer";
@import "MovieListView";
@import "Sidepanel";
@import "CardGrid";
@import "MovieCard";
@import "LoginPage";
@import "RegistrationPage";
@import "ComboBox";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans 3', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

button{
 font: inherit;
 font-weight: bold;
 font-size: 18px;
 padding: 5px 30px;
 border-radius: 10px;
 border: none;
 background-color: var(--light-blue);
 color: white;
 cursor: pointer;
}

button:hover{
    background-color: #58c7e6;
    transition: all 0.5s;
}

a{
    text-decoration: none;
    color: var(--light-blue)
}

a:hover{
    text-decoration: underline;
}

.content-container{
    max-width: 1200px;
    margin: 10px auto;
}

input{
    font: inherit;
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    margin: 10px 0;
}

input:focus{
    border-color: var(--light-blue);
    transition: all 0.5s;
}

hr{
    border: none;
    border-top: var(--border);
    margin: 5px 0;
}