@import "variables.css";
@import "Navbar";
@import "Footer";
@import "MovieListView";
@import "Sidepanel";
@import "CardGrid";
@import "MovieCard";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans 3', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

button{
 font: inherit;
 font-weight: bold;
 font-size: 18px;
 padding: 5px 30px;
 border-radius: 10px;
 border: none;
 background-color: #01b3e3;
 color: white;
 cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit
}