.movie-list-view{
    display: flex;
}

.card{
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.card .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}