.navbar{
    background-color: var(--navbar-color);
    color: white;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.navbar a{
    color: inherit;
}

.navbar .nav-block{
    display: flex;
    align-items: center;
}

.navbar .navlink{
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.navbar img{
    width: 200px;
    cursor: pointer;
    margin-right: 30px;
}

.navbar i{
    color: #01b3e3;
    font-size: 25px;
}

.search-box-container{
    display: flex;
    align-items: center;
}

.search-box-container input{
    margin: 0;
    margin-right: 10px;
    padding: 3px 10px;
}

.search-box-container i{
    cursor: pointer;
}