.navbar{
    background-color: #032541;
    color: white;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.navbar .nav-block{
    display: flex;
}

.navbar .navlink{
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.navbar img{
    width: 200px;
    cursor: pointer;
    margin-right: 30px;
}

.navbar i{
    color: #01b3e3;
    font-size: 25px;
}